.statisticsContainer {
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.statisticsContainer {
    text-transform: capitalize;
}

.statisticsContainer div span {
    font-weight: bold;
}